# postgres
POSTGRES_DB=bitenex
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres

# n8n
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_WEBHOOK_URL=http://n8n:5678/
WEBHOOK_URL=http://n8n:5678/
N8N_TIMEZONE=Asia/Ho_Chi_Minh
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
TZ=Asia/Ho_Chi_Minh
N8N_LOG_LEVEL=info
N8N_SECURE_COOKIE=false
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
BITENEX_API_BASE_URL=http://api:8000/api
BITENEX_INTERNAL_API_KEY=dev-internal-api-key

# sonarqube
SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonarqube
SONAR_JDBC_USERNAME=postgres
SONAR_JDBC_PASSWORD=postgres
SONAR_WEB_JAVAOPTS=-Xms512m -Xmx512m
SONAR_CE_JAVAOPTS=-Xms512m -Xmx512m

# pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@bitenex.local
PGADMIN_DEFAULT_PASSWORD=admin123
